<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>仓储管理</title>
    <script src="../static/js/jquery.min.js" th:src="@{./js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{./js/bootstrap.min.js}"></script>
    <script src="../static/layui/layui.js" th:src="@{./layui/layui.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css"
        th:href="@{./css/bootstrap-responsive.min.css}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{./layui/css/layui.css}">
</head>

<body>
    <div
        style="font-size: 40px;width: 500px;height: 40px;text-align: center;line-height:40px;margin: auto;margin-top: 10%;">
        <i class="layui-icon layui-icon-face-smile" style="font-size: 40px; color: #1E9FFF;"></i> 修改完成</div>
</body>

</html>