<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>仓储管理</title>
    <script src="../static/js/jquery.min.js" th:src="@{./js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{./js/bootstrap.min.js}"></script>
    <script src="../static/layui/layui.js" th:src="@{./layui/layui.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css"
        th:href="@{./css/bootstrap-responsive.min.css}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{./layui/css/layui.css}">
    <script>
        $(function() {
            $.ajax({
                type: "post",
                url: "getMaterialTypes",
                dataType: "json",
                success: function (response) {
                    $.each(response, function(index, element) {
                        $("#type_bar").append("<li class='layui-nav-item'><a href='materialList?material_type_id=" + element.material_type_id + "'>" + element.name + "</a></li>");
                    })
                }
            });
            window.addMaterial = function() {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 2,
                        title:"新增",
                        maxmin: true,
                        area: ["600px", "300px"],
                        offset: "50px",
                        cancel: function() {
                            window.location.reload();
                        },
                        content: 'addMaterial' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                });
            }
            window.editMaterial = function(id) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 2,
                        title:"编辑",
                        maxmin: true,
                        area: ["600px", "300px"],
                        offset: "50px",
                        cancel: function() {
                            window.location.reload();
                        },
                        content: 'editMaterial?material_id=' + id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                });
            }
        })
    </script>
</head>

<body>
    <ul id="type_bar" class="layui-nav layui-bg-green" lay-filter="test">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <!-- <li class="layui-nav-item">
            <a href="javascript:;">菜单1</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">菜单2</a>
        </li>
        <li class="layui-nav-item">
            <a href="">菜单3</a>
        </li>
        <li class="layui-nav-item">
            <a href="">菜单4</a>
        </li> -->
    </ul>
    <hr class="layui-bg-green">
    <form class="form-search" action="materialList" method="POST">
        <span>物料编号: </span>
        <input type="text" class="input-medium search-query" name="keywords_no">
        <span>物料名称: </span>
        <input type="text" class="input-medium search-query" name="keywords_name">
        <span>规格型号: </span>
        <input type="text" class="input-medium search-query" name="keywords_specifications">
        <button type="submit" class="btn">查询</button>
    </form>
    <div class="layui-btn-group demoTable">
        <a class="layui-btn" onclick="addMaterial()">新增</a>
    </div>

    <table class="layui-table">
        <thead>
            <tr>
                <th style="width: 10%;">物料编号</th>
                <th style="width: 15%;">物料名称</th>
                <th style="width: 15%;">物料类别</th>
                <th style="width: 15%;">规格型号</th>
                <th style="width: 15%;">生产厂商</th>
                <th style="width: 15%;">主单位</th>
                <th style="width: 15%;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="material: ${page.list}">
                <td th:text="${material.material_no}"></td>
                <td th:text="${material.name}"></td>
                <td th:text="${material.material_type_name}"></td>
                <td th:text="${material.specifications}"></td>
                <td th:text="${material.vendor}"></td>
                <td th:text="${material.unit}"></td>
                <td>
                    <a class="layui-btn layui-btn-sm"
                        th:data-id="${material.material_id}"
                        th:onclick="editMaterial(this.getAttribute('data-id'))">修改</a>
                    <a class="layui-btn layui-btn-sm"
                        th:href="@{deleteMaterial(material_id=${material.material_id})}"
                        onclick="return confirm('确认删除吗?')">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p th:text="|当前: ${page.pageNum}页  共: ${page.pages}页|"></p>
    <div class="pagination" style="color: rgb(80, 190, 154);">
        <ul>
            <li><a th:href="@{materialList(start=1,keywords_no=${keywords_no},keywords_name=${keywords_name},keywords_specifications=${keywords_specifications},material_type_id=${material_type_id})}">首页</a>
            </li>
            <li><a
                    th:href="@{materialList(start=${page.pageNum-1},keywords_no=${keywords_no},keywords_name=${keywords_name},keywords_specifications=${keywords_specifications},material_type_id=${material_type_id})}">上一页</a>
            </li>
            <li><a
                    th:href="@{materialList(start=${page.pageNum+1},keywords_no=${keywords_no},keywords_name=${keywords_name},keywords_specifications=${keywords_specifications},material_type_id=${material_type_id})}">下一页</a>
            </li>
            <li><a
                    th:href="@{materialList(start=${page.pages},keywords_no=${keywords_no},keywords_name=${keywords_name},keywords_specifications=${keywords_specifications},material_type_id=${material_type_id})}">末页</a>
            </li>
        </ul>
    </div>

</body>

</html>