<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>仓储管理</title>
    <script src="../static/js/jquery.min.js" th:src="@{./js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{./js/bootstrap.min.js}"></script>
    <script src="../static/layui/layui.js" th:src="@{./layui/layui.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css"
        th:href="@{./css/bootstrap-responsive.min.css}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{./layui/css/layui.css}">
    <script>
        $(function () {
            window.edit = function (id) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 2,
                        title: "编辑",
                        maxmin: true,
                        area: ["600px", "300px"],
                        offset: "50px",
                        cancel: function () {
                            window.location.reload();
                        },
                        content: 'editPurchaseItem?purchase_item_id=' +
                            id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                });
            }
        })
    </script>
</head>

<body>
    <form class="form-search" action="purchaseItemsList" method="POST">
        <span>订单编号: </span>
        <input type="text" class="input-medium search-query" name="keywords_no">
        <button type="submit" class="btn">查询</button>
    </form>
    <div class="layui-btn-group demoTable">
        <a class="layui-btn" th:href="@{chooseMaterial(purchase_no=${purchase_no})}">新增订单项</a>
        <a class="layui-btn" th:href="@{purchaseList}">返回订单列表</a>
    </div>
    
    <table class="layui-table">
        <thead>
            <tr>
                <th style="width: 15%;">订单项编号</th>
                <th style="width: 20%;">物料</th>
                <th style="width: 5%;">单位</th>
                <th style="width: 5%;">数量</th>
                <th style="width: 5%;">单价</th>
                <th style="width: 5%;">总价</th>
                <th style="width: 25%;">已收货数量</th>
                <th style="width: 25%;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="purchase_item: ${page.list}">
                <td th:text="${purchase_item.purchase_item_no}"></td>
                <td th:text="${purchase_item.matnr_description}"></td>
                <td th:text="${purchase_item.unit}"></td>
                <td th:text="${purchase_item.quantity}"></td>
                <td th:text="${purchase_item.price}"></td>
                <td th:text="${purchase_item.total_price}"></td>
                <td th:text="${purchase_item.init_received_quantity}"></td>
                <td>
                    <a class="layui-btn layui-btn-sm" th:data-id="${purchase_item.purchase_item_id}"
                    th:onclick="edit(this.getAttribute('data-id'))">修改数量</a>
                    <a class="layui-btn layui-btn-sm"
                    th:href="@{deletePurchaseItem(purchase_item_id=${purchase_item.purchase_item_id},purchase_no=${purchase_no})}" onclick="return confirm('确认删除吗?')">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p th:text="|当前: ${page.pageNum}页  共: ${page.pages}页|"></p>
    <div class="pagination" style="color: rgb(80, 190, 154);">
        <ul>
            <li><a th:href="@{purchaseItemList(start=1,keywords_no=${keywords_no},purchase_no=${purchase_no})}">首页</a>
            </li>
            <li><a
                    th:href="@{purchaseItemList(start=${page.pageNum-1},keywords_no=${keywords_no},purchase_no=${purchase_no})}">上一页</a>
            </li>
            <li><a
                    th:href="@{purchaseItemList(start=${page.pageNum+1},keywords_no=${keywords_no},purchase_no=${purchase_no})}">下一页</a>
            </li>
            <li><a
                    th:href="@{purchaseItemList(start=${page.pages},keywords_no=${keywords_no},purchase_no=${purchase_no})}">末页</a>
            </li>
        </ul>
    </div>

</body>

</html>