<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>仓储管理</title>
    <script src="../static/js/jquery.min.js" th:src="@{./js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{./js/bootstrap.min.js}"></script>
    <script src="../static/layui/layui.js" th:src="@{./layui/layui.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css"
        th:href="@{./css/bootstrap-responsive.min.css}">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{./layui/css/layui.css}">
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">WMS仓储管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <!-- <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="#">导航选项1</a></li>
                <li class="layui-nav-item"><a href="#">导航选线2</a></li>
                <li class="layui-nav-item"><a href="#">导航选项3</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">下拉导航1</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">选项1</a></dd>
                        <dd><a href="#">选项2</a></dd>
                        <dd><a href="#">选项3</a></dd>
                    </dl>
                </li>
            </ul> -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a th:text="${user.account}" href="javascript:;">
                        用户名
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a class="site-demo-active" data-id="14" data-title="修改密码" data-url="loginPage">修改密码</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="logout">注销</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll" lay-accordion>
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">系统管理</a>
                        <dl class="layui-nav-child">
                            <dd><a class="site-demo-active" data-id="1" data-title="部门管理"
                                    data-url="departmentList">部门管理</a>
                            </dd>
                            <dd><a class="site-demo-active" data-id="3" data-title="用户管理" data-url="userList">用户管理</a>
                            </dd>
                            <dd><a class="site-demo-active" data-id="4" data-title="角色管理" data-url="roleList">角色管理</a>
                            </dd>
                            <dd><a class="site-demo-active" data-id="5" data-title="权限分配" data-url="roles.action">权限分配</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">资源管理</a>
                        <dl class="layui-nav-child">
                            <dd><a class="site-demo-active" data-id="6" data-title="出入库类型管理"
                                    data-url="inventoryTypeList">出入库类型管理</a></dd>
                            <dd><a class="site-demo-active" data-id="7" data-title="客户管理"
                                    data-url="customerList">客户管理</a>
                            </dd>
                            <dd><a class="site-demo-active" data-id="8" data-title="供应商管理"
                                    data-url="supplierList">供应商管理</a></dd>
                            <dd><a class="site-demo-active" data-id="9" data-title="工厂管理" data-url="werksList">工厂管理</a>
                            </dd>
                            <dd><a class="site-demo-active" data-id="10" data-title="库房/库位管理"
                                    data-url="locationTree">库房/库位管理</a></dd>
                            <dd><a class="site-demo-active" data-id="11" data-title="物料类别管理"
                                    data-url="materialTypeList">物料类别管理</a></dd>
                            <dd><a class="site-demo-active" data-id="12" data-title="物料管理"
                                    data-url="materialList">物料管理</a>
                            </dd>
                            <dd><a class="site-demo-active" data-id="13" data-title="计量单位管理"
                                    data-url="unitList">计量单位管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="#">入库管理</a>
                        <dl class="layui-nav-child">
                            <dd><a class="site-demo-active" data-id="15" data-title="采购订单"
                                    data-url="purchaseList">采购订单</a></dd>
                            <dd><a class="site-demo-active" data-id="16" data-title="采购接收"
                                    data-url="purchaseReceiveList">采购接收</a></dd>
                        </dl>
                    </li>
                    <!-- <li class="layui-nav-item"><a href="#">一级菜单4</a></li> -->
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!--tab标签-->
            <div style="margin-top: -1px;" class="layui-tab layui-tab-card" lay-filter="demo" lay-allowclose="true">
                <ul class="layui-tab-title" id="tabs" style="position: fixed;left: 200px;"></ul>
                <div style="height: 50px;"></div>
                <div class="layui-tab-content" id="tab-content"></div>
            </div>
        </div>
        <script>
            var width = $("#tab-content").css("width");
            $("#tabs").css("width", width);
        </script>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © zj.com - ZJ
        </div>
    </div>
    <script>
        layui.use(['element', 'layer', 'jquery'], function () {
            var element = layui.element;
            // var layer = layui.layer;
            var $ = layui.$;
            // 配置tab实践在下面无法获取到菜单元素
            $('.site-demo-active').on('click', function () {
                var dataid = $(this);
                //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    //如果比零小，则直接打开新的tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr(
                        "data-title"));
                } else {
                    //否则判断该tab项是否以及存在
                    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    })
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr(
                            "data-title"));
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid.attr("data-id"));
            });

            var active = {
                //在这里给active绑定几项事件，后面可通过active调用这些事件
                tabAdd: function (url, id, name) {
                    //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                    //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                    element.tabAdd('demo', {
                        title: name,
                        content: '<iframe data-frameid="' + id +
                            '" scrolling="auto" frameborder="0" src="' + url +
                            '" style="width:100%;height:99%;"></iframe>',
                        id: id //规定好的id
                    })
                    FrameWH(); //计算ifram层的大小
                },
                tabChange: function (id) {
                    //切换到指定Tab项
                    element.tabChange('demo', id); //根据传入的id传入到指定的tab项
                },
                tabDelete: function (id) {
                    element.tabDelete("demo", id); //删除
                }
            };

            function FrameWH() {
                var h = $(window).height();
                $("iframe").css("height", h + "px");
            }
        });
    </script>
</body>

</html>